@model IEnumerable<iSmash.Models.TicketAttachment>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Submitter") || (User.IsInRole("Developer")) || (User.IsInRole("ProjectManager")))
{
    <h2>Ticket Attachments Index</h2>

    <button class="btn btn-info">
        @Html.ActionLink("Create New", "Create")
    </button>
    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.SubmitterId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FilePath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FileUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.SubmitterId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FilePath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Dashboard", "Index", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <img src="~/img/HaHaHaMovieReferences.gif" />
    <hr /><p>Your current role is NOT AUTHORIZED to view this content.</p>
}
