@{ Layout = null;}
@using iSmash.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    @*<meta name="twitter:site" content="@themepixels">
        <meta name="twitter:creator" content="@themepixels">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Bracket">
        <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
        <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">*@

    <!-- Facebook -->
    @*<meta property="og:url" content="http://themepixels.me/bracket">
        <meta property="og:title" content="Bracket">
        <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">*@

    @*<meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
        <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="600">*@

    <!-- Meta -->
    @*<meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
        <meta name="author" content="ThemePixels">*@

    <title>iSmash</title>

    <!-- vendor css -->
    @*<link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/ionicons.css" rel="stylesheet" />

    <!-- Bracket CSS -->
    @*<link rel="stylesheet" href="../css/bracket.css">*@
    <link href="~/Content/bracket.css" rel="stylesheet" />
    <style>
        .fill {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-shrink: 0;
            min-width: 50%;
            min-height: 50%;
            padding: 20%;
        }

        .btn-1D2939 {
            background-color: #1D2939;
        }


    </style>
</head>

<body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

        <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
            <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> iSmash <span class="tx-normal">]</span></div>
            <div class="tx-center mg-b-60">Bug Tracker</div>

            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input name="Email" type="text" class="form-control" placeholder="Email">
                </div>
                <!-- form-group -->
                <div class="form-group">
                    <input name="Password" type="password" class="form-control" placeholder="Enter your password">
                    <a href="" class="tx-info tx-12 d-block mg-t-10">Forgot password?</a>
                </div>
                <!-- form-group -->
                <button name="LogIn" type="submit" class="btn btn-1D2939 btn-block" style="color: #FFFFFF">LOG IN as REGISTERED USER</button>
            }
            <hr />
            <div class="tx-center"><a href="@Url.Action("Index", "Home")" class="tx-info">Register Now</a></div>
            <hr />
            <p class="tx-center">- or -</p>
            <p class="tx-center">click below to test</p>

            @*<a data-toggle="modal" data-target="#DemoLogInModal" style="margin: 20%">
                    <label style="font-size: x-large; background-color: #868ba1; color: #343a40" data-target="#DemoLogInModal">[ Demo Mode ]</label>
                </a>*@

            <button data-toggle="modal" data-target="#DemoLogInModal" name="LogIn" type="submit" class="btn btn-1D2939 btn-block" style="background-color: #868ba1; color: #343a40">
                [ Demo Mode ]
            </button>
            @*<img src="~/img/logo.png" />*@
            <div class="modal fade" id="DemoLogInModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Demo Users</h6>
                        </div>
                        <div class="modal-body">
                            <p>Please feel free to try various roles.</p>
                        </div>

                        <div class="container-fluid">



                            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("emailKey", "DemoAdminEmail")

                                <button type="submit" class="btn btn-primary btn-block addMore" style="width: 100%; margin: 2%">Log in as Demo Admin</button>
                                <p>Admin: Full access, can create, modify and delete users & projects.</p>
                            }



                            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("emailKey", "DemoProjectManagerEmail")
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: 2%">Log in as Demo Project Manager</button>
                                                                                                                                             
                                <p>PM: Can make/edit projects. Can assign developers to projects/tickets.</p>
                            }


                            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("emailKey", "DemoDeveloperEmail")
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: 2%">Log in as Demo Developer</button>
                                <p>Developer: Can see, sort, comment on, and update status of assignments.</p>
                            }


                            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("emailKey", "DemoSubmitterEmail")

                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: 2%">Log in as Demo Submitter</button>
                                <p>Submitter: Can create tickets and track their progress.</p>
                            }
                            
                            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("emailKey", "DemoUnassignedEmail")

                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: 2%">Log in as Demo Submitter</button>
                                <p>Unassigned: A new user with no permissions until Admin grants another role.</p>
                            }


                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


</body>
</html>
