@using iSmash.Helpers
@using iSmash.Models;
@{
    ViewBag.Title = "ManageTicketAssignments";
}

@*@model IEnumerable<iSmash.Models.Ticket>*@
@*@model IEnumerable<iSmash.ViewModels.CustomUserData>*@
@model IEnumerable<Ticket>

<h2>Manage Ticket Assignments</h2>

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @*Left col that holds the users*@
            <div class="col" style="width:300px;">
                @Html.ListBox("UserIds")
            </div>

            @*Right col that holds the users*@
            <div class="col" style="width:300px;">
                @Html.ListBox("TicketIds")
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary" style="width:100%" ;>SUBMIT CHANGES TO TICKETS</button>
            </div>
        </div>
    }

</div>

<div class="br-section-wrapper">
    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-15p">@Html.DisplayName("Priority: ")</th>
                    <th class="wd-15p">@Html.DisplayName("Ticket ID: ")</th>
                    <th class="wd-15p">@Html.DisplayName("Title: ")</th>
                    <th class="wd-20p">@Html.DisplayName("Project: ")</th>
                    <th class="wd-15p">@Html.DisplayName("Submitter: ")</th>
                    <th class="wd-15p">@Html.DisplayName("Assigned Dev: ")</th>
                    <th class="wd-15p">@Html.DisplayName("Project MGR: ")</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ticket in Model)
                {

                    <tr>
                        <td>
                            @ticket.TicketPriority.Name
                        </td>

                        <td>
                            @ticket.Id.ToString()
                        </td>

                        <td>
                            @ticket.Title
                        </td>

                        <td>
                            @ticket.Project.Name
                        </td>

                    <td>
                        @ticket.Submitter.FullName</td>
                    <td>

                        @if (ticket.DeveloperId != null)
                        {
                            @ticket.Developer.FullName
                        }
                        else
                        {
                            <p>none assigned</p>
                        }
                    </td>
                    <td>
                            @UserHelper.ProjectManagerFullName(ticket.Project.ProjectManagerId)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>