@model IEnumerable<iSmash.ViewModels.CustomUserData>
@{
    ViewBag.Title = "ManageProjectAssignments";
}
@if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
{
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                @*Left col that holds the users*@
                <div class="col" style="width: 300px;">
                    @Html.ListBox("UserIds")
                </div>
                @*Right col that holds the users*@
                <div class="col" style="width: 300px;">
                    @Html.ListBox("ProjectIds")
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" style="width: 100%" ;>SUBMIT CHANGES TO PROJECTS</button>
                </div>
            </div>
        }
    </div>

    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th class="wd-15p">@Html.DisplayNameFor(model => model.RoleName)</th>
                        <th class="wd-15p">@Html.DisplayName("Full Name")</th>
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Email)</th>
                        <th class="wd-15p">@Html.DisplayName("Projects")</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        if (user.RoleName == "Developer")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => user.RoleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => user.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => user.Email)
                                </td>
                                <td>
                                    @foreach (var projName in user.ProjectNames)
                                    {
                                        @projName
                                        <br />
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}